{{define "Challenge1"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/chall1.css">
    <link rel="stylesheet" href="/static/css/hearder.css">
    <title>Informations de la classe</title>
</head>
<body>
{{template "Header"}}
<h1>Détails de la classe : {{.ClasseName}}</h1>
<p><strong>Filière :</strong> {{.Filiere}}</p>
<p><strong>Niveau :</strong> {{.Niv}}</p>
<p><strong>Nombre d'étudiants :</strong> {{.NbrStudents}}</p>

<h2>Liste des étudiants</h2>
<table>
    <thead>
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Âge</th>
        <th>Sexe</th>
    </tr>
    </thead>
    <tbody>
    {{range .Students}}
        <tr>
            <td>{{.Nom}}</td>
            <td>{{.Prenom}}</td>
            <td>{{.Age}}</td>
            <td>
                {{if eq .Genre "M"}}
                    <img src="/static/images/male.png" alt="Homme" width="20">
                {{else if eq .Genre "F"}}
                    <img src="/static/images/female.png" alt="Femme" width="20">
                {{end}}
            </td>
        </tr>
    {{end}}
    </tbody>
</table>

</body>
</html>
{{end}}