{{define "error"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erreur de Validation</title>
    <link rel="stylesheet" href="/static/css/error.css">

</head>
<body>
<div class="container">
    <h1>Erreur dans les Données Saisies</h1>
    <p>Les informations que vous avez fournies ne sont pas valides. Veuillez vérifier que :</p>
    <ul>
        <li>Le nom et le prénom contiennent uniquement des lettres et ont une longueur entre 1 et 32 caractères.</li>
        <li>Le sexe est bien "masculin", "féminin" ou "autre".</li>
    </ul>
    <p><a href="/user/form">Retourner au formulaire</a> pour corriger les erreurs.</p>
</div>
</body>
</html>

{{end}}